[requires]
python_version = '3.6'

[packages]
scipy = '*'
numpy = '*'
pandas = '*'
matplotlib = '*'
sklearn = '*'
altair = '*'
seaborn = '*'
jupyterlab = '*'
scikit-image = '*'
opencv-python-headless = '*'
statsmodels = '*'
torch = '*'
torchvision = '*'
pillow = '<7'
scholarly = '*'
ipdb = '*'
